div.rentaldashboarddiv
{
    min-height:150px;
    background-color:#fff356;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 1px solid #91e842;
}

div.outstandingdashboarddiv
{
    min-height:150px;
    background-color:#fff356;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border: 1px solid #91e842;
}
table
{
    width:100%;
    border:0;
}
table td#left-container
{
    width:50%;
    padding:10px 5px 10px 0;
}

table td#right-container
{
    width:50%;
    padding:10px 0 10px 5px;
}

label.header
{
    display: block;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    border: 1px #FDB344 solid;
    border-radius: 5px 5px 5px 5px;
    vertical-align: middle;
    margin: 5px 5px 7px 5px;
    color: black;
    background: -webkit-linear-gradient(top, #FFFF9B, #FDB344);
    background: -moz-linear-gradient(top, #FFFF9B, #FDB344);
}

table.content td
{
    font-size:14px;
    border-bottom:1px solid #fff;
}

table.content
{
    border-spacing: 15px;
    border-collapse: separate;
}
.right
{
    text-align:right;
}
.bold
{
    font-weight:bolder;
}