#addRow
{
    color:Green;
    cursor:pointer;
}
#addRow:hover
{
    color:#666;
}
#itemRemove
{
    font-weight:bold;
    color:Red;
    cursor:pointer;
    display:none;
    text-align:center;
    margin-right:-10px;
}
#itemRemove:hover
{
    color:#666;
}
.itemqty
{
    width:50px;
}
.itemharga
{
    width:120px;
}
.itemtotalCcy
{
    width: 30px;
    float: left;
    text-align: right;
}
.itemtotalValue
{
    width: 120px;
    float: right;
    text-align:right;
}