<link href="@Url.Content("~/Content/customer/list.css")" type="text/css" rel="Stylesheet" />
<table id='tblListCustomer' cellspacing="0" cellpadding="0" width="100%">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Sisa Tagihan</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>